<div class="container d-flex justify-content-center align-items-center p-4">
  <div class="card p-4 shadow-sm rounded mt-4 fixed-card">
    <h2 class="text-center mb-4">Login</h2>
    <form action="/auth/register" method="POST" style="min-width: 500px;">
      <div class="mb-3">
        <label for="input-name" class="form-label">Name</label>
        <input
          type="text"
          id="input-name"
          name="name"
          class="form-control"
          placeholder="Enter your name"
          required
        />
      </div>
      <div class="mb-3">
        <label for="inputUsr" class="form-label">Username:</label>
        <input
          type="text"
          id="inputUsr"
          name="username"
          class="form-control"
          placeholder="Enter your username"
          required
        />
      </div>
      <div class="mb-3">
        <label for="input-email" class="form-label">Email:</label>
        <input
          type="text"
          id="input-email"
          name="email"
          class="form-control"
          placeholder="Enter your email"
          required
        />
      </div>
      <div class="mb-3">
        <label for="input-country" class="form-label">Country:</label>
        <select
          id="input-country"
          name="country"
          class="form-select"
          style="width: 100%"
          aria-label="Country"
        ></select>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Enter your password"
          required
        />
      </div>
      <div class="mb-3">
        <label for="rePassword" class="form-label">Re Password:</label>
        <input
          type="password"
          id="rePassword"
          name="rePassword"
          class="form-control"
          placeholder="Enter your password"
          required
        />
      </div>
      <button type="submit" class="btn btn-danger w-100" >Register</button>
    </form>
    <div class="text-center mt-2">
      <p class="text-muted">
        Have an account?
        <a href="/login" class="link-danger">Sign In</a>
      </p>
    </div>
  </div>
</div>
