<div class="pagetitle mb-3">
  <div class="row align-items-center">
    <div class="col-md-8 mt-2">
      <h1 class="fs-4 mb-1">Page List</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin">Home</a></li>
          <li class="breadcrumb-item active">Page List</li>
        </ol>
      </nav>
    </div>
    <div class="col-md-4">
      <div class="text-end">
        <a href="/admin/page/add" type="button" class="btn btn-primary"
          >Add Page</a
        >
      </div>
    </div>
  </div>
</div>
<!-- End Page Title -->
<section class="section">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Page List</h5>
          <table
            id="datatable"
            class="table table-hover table-bordered dt-responsive nowrap"
            style="border-collapse: collapse; border-spacing: 0; width: 100%"
          >
            <thead>
              <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Sort Order</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Kebijakan Privasi</td>
                <td>0</td>
                <td>Published</td>
                <td class="tw-100">
                  <a
                    href="#"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Edit"
                    class="btn btn-warning btn-sm"
                    data-id="id-page"
                    ><i class="icon-edit"></i
                  ></a>
                  <a
                    href="#"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Delete"
                    class="btn btn-danger btn-sm"
                    data-id="id-page"
                    ><i class="icon-trash-alt"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
