<footer class="footer-area">
    <div class="footer-widget">
      <div class="container">
        <div class="row footer-widget-wrapper pt-100 pb-70">
          <div class="col-md-6 col-lg-4">
            <div class="footer-widget-box about-us">
              <a href="#" class="d-flex align-items-center ">
                <img src="/assets/images/setting/site_logo.webp" style="width: 50px;" alt="<%= meta_description %>">
                <h3 class="ms-2 text-white"><%= site_name %></h3>
              </a>
              <p class="mb-3">
                We are many variations of passages available but the majority have suffered alteration
                in some form by injected humour words believable.
              </p>
              <ul class="footer-contact">
                <li><a href="tel:+21236547898"><i class="far fa-phone"></i>+2 123 654 7898</a></li>
                <li><i class="far fa-map-marker-alt"></i>25/B Milford Road, New York</li>
                <li><a href="https://live.themewild.com/cdn-cgi/l/email-protection#2c45424a436c49544d415c4049024f4341"><i class="far fa-envelope"></i><span class="__cf_email__" data-cfemail="90f9fef6ffd0f5e8f1fde0fcf5bef3fffd">[email&nbsp;protected]</span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="footer-widget-box list">
              <h4 class="footer-widget-title">Quick Links</h4>
              <ul class="footer-list">
                <li><a href="#"><i class="fas fa-caret-right"></i> About Us</a></li>
                <li><a href="#"><i class="fas fa-caret-right"></i> Privacy policy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="footer-widget-box list">
              <h4 class="footer-widget-title">Support Center</h4>
              <ul class="footer-list">
                <li><a href="#"><i class="fas fa-caret-right"></i> FAQ's</a></li>
                <li><a href="#"><i class="fas fa-caret-right"></i> Contact Us</a></li>
                <li><a href="#"><i class="fas fa-caret-right"></i> Sitemap</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6 align-self-center">
            <p class="copyright-text">
              © Copyright <span id="date">2024</span> <a href="#" class="text-uppercase"> <%= site_name %> </a> All Rights Reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>