<div class="pagetitle mb-2">
  <div class="row align-items-center">
    <div class="col-md-8 mt-2">
      <h1 class="fs-4 mb-1">Banner Form</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin">Home</a></li>
          <li class="breadcrumb-item">
            <a href="/admin/banner">Banner List</a>
          </li>
          <li class="breadcrumb-item active">Banner Form</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<section class="section">
  <% if (alert) { %>
    <div class="alert <%= alert.type %> alert-dismissible fade show" role="alert">
      <%= alert.message %>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  <% } %>
  <form
    class="row"
    id="testimonial-form"
    action="/admin/banner/update/<%= data.id %>"
    method="post"
    enctype="multipart/form-data"
  >
    <div class="col-md-4 mb-2">
      <div class="text-start">
        <button type="submit" title="Save" class="btn btn-primary">Save</button>
        <a href="/admin/banner" class="btn btn-secondary">Cancel</a>
      </div>
    </div>
    <%- include('partials/form') %>
    </div>
  </form>
</section>
