<section class="contact-us">
    <div class="hero-banner">
        <div class="hero-banner-content">
            <h1 class="text-white">Contact Us</h1>
            <p>Explore our features and services.</p>
        </div>
    </div>
    <div class="container pt-100 px-80">
        <div class="row">
            <div class="col">
                <div class="card p-5">
                    <div class="card-title d-flex justify-content-center">
                        <img src="/assets/images/car-96.webp" alt="<%= meta_description %>">
                    </div>
                    <div class="card-body text-center">
                        <h4 class="text-black">Address</h4>
                        <h6 class="text-black">Lorem ipsum dolor sit amet. </h6>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-5">
                    <div class="card-title d-flex justify-content-center">
                        <img src="/assets/images/car-96.webp" alt="<%= meta_description %>">
                    </div>
                    <div class="card-body text-center">
                        <h4 class="text-black">Address</h4>
                        <h6 class="text-black">Lorem ipsum dolor sit amet. </h6>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-5">
                    <div class="card-title d-flex justify-content-center">
                        <img src="/assets/images/car-96.webp" alt="<%= meta_description %>">
                    </div>
                    <div class="card-body text-center">
                        <h4 class="text-black">Address</h4>
                        <h6 class="text-black">Lorem ipsum dolor sit amet. </h6>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-5">
                    <div class="card-title d-flex justify-content-center">
                        <img src="/assets/images/car-96.webp" alt="<%= meta_description %>">
                    </div>
                    <div class="card-body text-center">
                        <h4 class="text-black">Address</h4>
                        <h6 class="text-black">Lorem ipsum dolor sit amet. </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-100 pb-80">
            <div class="col">
                <div class="card fixed-card">
                    <div class="row" style="padding: 20px;">
                        <div class="col">COLUMN</div>
                        <form class="col p-4">
                            <h3 class="mt-4">Get In Touch</h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page randomised words which don't look even slightly when looking at its layout.</p>
                            <div class="d-flex gap-3" style="width: 100%;">
                                <input type="text" placeholder="Your Name" class="form-control" style="width: 50%;">
                                <input type="text" placeholder="Your Email" class="form-control" style="width: 50%;">
                            </div>
                            <div class="mt-3">
                                <input type="text" placeholder="Your Subject" class="form-control" style="width: 100%;">
                            </div>
                            <textarea class="form-control-textarea form-control mt-3" name="" id="" style="width: 100%;">Write Your Message</textarea>
                            <div class="theme-btn mt-3">Send Message</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>