<section class="Privacy Policy">
  <div class="site-breadcrumb">
    <div class="container d-flex flex-column align-items-center">
      <h1 class="breadcrumb-title">Privacy Policy</h1>
      <ul class="breadcrumb-menu">
        <li><a href="/">Home</a></li>
        <li>
          <i class="icon-chevron-right ms-auto"></i
          ><i class="icon-chevron-right ms-auto"></i>
        </li>
        <li class="active">Privacy Policy</li>
      </ul>
    </div>
  </div>
  <div class="container pt-100 px-80">
    <h4 class="mb-4">Privacy Policy</h4>
    <p class="mt-4">
      Aenean ullamcorper est est, ac bibendum ipsum tincidunt vehicula. Nulla
      faucibus vulputate lorem, vitae placerat felis blandit ut. Nam sem quam,
      euismod sit amet augue et, mollis congue nisi. Vestibulum fringilla
      lobortis nunc ac tincidunt. Cras nec convallis quam. Maecenas non sem ut
      enim facilisis rhoncus. Sed odio ex, efficitur ac commodo sed, convallis
      vitae lectus. Aenean at urna ac tellus ullamcorper pretium. Aliquam erat
      volutpat. Aliquam sit amet tellus in tortor posuere convallis quis nec
      tellus. Nulla eu mauris sit amet enim eleifend congue. Quisque aliquam,
      turpis quis elementum tempus, velit arcu dignissim dui, a vehicula lectus
      nisi non felis.
    </p>
    <h4 class="mb-4">Collect Information</h4>
    <p class="mt-4">
      Aenean ullamcorper est est, ac bibendum ipsum tincidunt vehicula. Nulla
      faucibus vulputate lorem, vitae placerat felis blandit ut. Nam sem quam,
      euismod sit amet augue et, mollis congue nisi. Vestibulum fringilla
      lobortis nunc ac tincidunt. Cras nec convallis quam. Maecenas non sem ut
      enim facilisis rhoncus. Sed odio ex, efficitur ac commodo sed, convallis
      vitae lectus. Aenean at urna ac tellus ullamcorper pretium. Aliquam erat
      volutpat. Aliquam sit amet tellus in tortor posuere convallis quis nec
      tellus. Nulla eu mauris sit amet enim eleifend congue. Quisque aliquam,
      turpis quis elementum tempus, velit arcu dignissim dui, a vehicula lectus
      nisi non felis.
    </p>
    <h4 class="mb-4">Usage of Information</h4>
    <p class="mt-4">
      Aenean ullamcorper est est, ac bibendum ipsum tincidunt vehicula. Nulla
      faucibus vulputate lorem, vitae placerat felis blandit ut. Nam sem quam,
      euismod sit amet augue et, mollis congue nisi. Vestibulum fringilla
      lobortis nunc ac tincidunt. Cras nec convallis quam. Maecenas non sem ut
      enim facilisis rhoncus. Sed odio ex, efficitur ac commodo sed, convallis
      vitae lectus. Aenean at urna ac tellus ullamcorper pretium. Aliquam erat
      volutpat. Aliquam sit amet tellus in tortor posuere convallis quis nec
      tellus. Nulla eu mauris sit amet enim eleifend congue. Quisque aliquam,
      turpis quis elementum tempus, velit arcu dignissim dui, a vehicula lectus
      nisi non felis.
    </p>
    <h4 class="mb-4">Security Of User Data</h4>
    <p class="mt-4">
      Aenean ullamcorper est est, ac bibendum ipsum tincidunt vehicula. Nulla
      faucibus vulputate lorem, vitae placerat felis blandit ut. Nam sem quam,
      euismod sit amet augue et, mollis congue nisi. Vestibulum fringilla
      lobortis nunc ac tincidunt. Cras nec convallis quam. Maecenas non sem ut
      enim facilisis rhoncus. Sed odio ex, efficitur ac commodo sed, convallis
      vitae lectus. Aenean at urna ac tellus ullamcorper pretium. Aliquam erat
      volutpat. Aliquam sit amet tellus in tortor posuere convallis quis nec
      tellus. Nulla eu mauris sit amet enim eleifend congue. Quisque aliquam,
      turpis quis elementum tempus, velit arcu dignissim dui, a vehicula lectus
      nisi non felis.
    </p>
    <h4 class="mb-4">Copyright and Security</h4>
    <p class="mt-4">
      Aenean ullamcorper est est, ac bibendum ipsum tincidunt vehicula. Nulla
      faucibus vulputate lorem, vitae placerat felis blandit ut. Nam sem quam,
      euismod sit amet augue et, mollis congue nisi. Vestibulum fringilla
      lobortis nunc ac tincidunt. Cras nec convallis quam. Maecenas non sem ut
      enim facilisis rhoncus. Sed odio ex, efficitur ac commodo sed, convallis
      vitae lectus. Aenean at urna ac tellus ullamcorper pretium. Aliquam erat
      volutpat. Aliquam sit amet tellus in tortor posuere convallis quis nec
      tellus. Nulla eu mauris sit amet enim eleifend congue. Quisque aliquam,
      turpis quis elementum tempus, velit arcu dignissim dui, a vehicula lectus
      nisi non felis.
    </p>
  </div>
</section>
