<div class="col-lg-12 col-md-12">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Performance Spec</h5>
      <div class="form-group d-grid gap-3">
        <div class="row">  
          <label for="input_fuel_consumption_urban" class="col-md-2 col-lg-4 col-form-label"
            >Fuel Consumption (economy) - Urban</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="fuel_consumption_urban"
              type="text"
              class="form-control"
              id="input_fuel_consumption_urban"
            />
          </div>
        </div>
        <div class="row" id="fuel_consumption_extraurban">
          <label for="input_fuel_consumption_extraurban" class="col-md-2 col-lg-4 col-form-label"
            >Fuel Consumption (economy) - Extra Urban</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="fuel_consumption_extraurban"
              type="text"
              class="form-control"
              id="input_fuel_consumption_extraurban"
            />
          </div>
        </div>
        <div class="row" id="fuel_type">
          <label for="input_fuel_type" class="col-md-2 col-lg-4 col-form-label"
            >Fuel Type</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="fuel_type"
              type="text"
              class="form-control"
              id="input_fuel_type"
            />
          </div>
        </div>
        <div class="row" id="acceleration_100kmh">
          <label for="input_acceleration_100kmh" class="col-md-2 col-lg-4 col-form-label"
            >Acceleration 0 - 100 km/h </label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="acceleration_100kmh"
              type="text"
              class="form-control"
              id="input_acceleration_100kmh"
            />
          </div>
        </div>
        <div class="row" id="acceleration_62mph">
          <label for="input_acceleration_62mph" class="col-md-2 col-lg-4 col-form-label"
            >Acceleration 0 - 62 mph </label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="acceleration_62mph"
              type="text"
              class="form-control"
              id="input_acceleration_62mph"
            />
          </div>
        </div>
        <div class="row" id="acceleration_60mph">
          <label for="input_acceleration_60mph" class="col-md-2 col-lg-4 col-form-label"
            >Acceleration 0 - 60 mph </label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="acceleration_60mph"
              type="text"
              class="form-control"
              id="input_acceleration_60mph"
            />
          </div>
        </div>
        <div class="row" id="emission_standard">
          <label for="input_emission_standard" class="col-md-2 col-lg-4 col-form-label"
            >Emission Standard</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="emission_standard"
              type="text"
              class="form-control"
              id="input_emission_standard"
            />
          </div>
        </div>
        <div class="row" id="maximum_speed">
          <label for="input_maximum_speed" class="col-md-2 col-lg-4 col-form-label"
            >Maximum Speed</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="maximum_speed"
              type="text"
              class="form-control"
              id="input_maximum_speed"
            />
          </div>
        </div>
        <div class="row" id="weight_to_power_ratio">
          <label for="input_weight_to_power_ratio" class="col-md-2 col-lg-4 col-form-label"
            >Weight To Power Ratio</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="weight_to_power_ratio"
              type="text"
              class="form-control"
              id="input_weight_to_power_ratio"
            />
          </div>
        </div>
        <div class="row" id="weight_to_torque_ratio">
          <label for="input_weight_to_torque_ratio" class="col-md-2 col-lg-4 col-form-label"
            >Weight To Torque Ratio</label
          >
          <div class="col-md-6 col-lg-4">
            <input
              name="weight_to_torque_ratio"
              type="text"
              class="form-control"
              id="input_weight_to_torque_ratio"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
