<div class="pagetitle mb-2">
  <div class="row align-items-center">
    <div class="col-md-8 mt-2">
      <h1 class="fs-4 mb-1">Edit Categories Form</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin">Home</a></li>
          <li class="breadcrumb-item">
            <a href="/admin/blog/categories">Categories</a>
          </li>
          <li class="breadcrumb-item active">Edit Categories Form</li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<section class="section">
  <form
    class="row g-3"
    id="brand-form"
    action="/admin/blog/edit-categories/<%= data.id %>"
    method="post"
    enctype="application/json"
  >
    <div class="pagetitle mb-3">
      <div class="row align-items-center">
        <div class="col-md-8 mt-2">
          <h1 class="fs-4 mb-1">Category e=Edit Form</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin">Home</a></li>
              <li class="breadcrumb-item active">Category Edit Form</li>
            </ol>
          </nav>
        </div>
        <div class="col-md-4 d-flex justify-content-end mb-2">
          <button
            type="submit"
            title="Save"
            class="btn btn-primary"
            form="category-form"
          >
            Save
          </button>
          <a href="/admin/blog/categories" class="ms-2 btn btn-secondary"
            >Cancel</a
          >
        </div>
      </div>
    </div>
    <%- include('partials/form') %>
  </form>
</section>
