<tr class="no-border">
  <th colspan="2" class="text-center bg-danger text-white">
    <strong class="car">Dimensions</strong>
  </th>
</tr>
<tr>
  <th>Length</th>
  <td>
    <%= data.length%>
    <span class="val2">187.8 in.</span>
  </td>
</tr>
<tr>
  <th>Width</th>
  <td>
    <%= data.width%>
    <span class="val2">75.98 in.</span>
  </td>
</tr>
<tr>
  <th>Height</th>
  <td>
    <%= data.height %>
    <span class="val2">63.98 in.</span>
  </td>
</tr>
<tr>
  <th>Wheelbase</th>
  <td>
    <%= data.wheelbase %>
    <span class="val2">113.39 in.</span>
  </td>
</tr>
<tr>
  <th>Ride height (ground clearance)</th>
  <td>
    150 mm
    <span class="val2">5.91 in.</span>
  </td>
</tr>