<tr class="no">
  <th colspan="2" class="no">
    <strong class="car" id="_drivetrain"
      >Drivetrain, brakes and suspension specs</strong
    >
  </th>
</tr>
<tr>
  <th>Drivetrain Architecture</th>
  <td>
    The Internal combustion engine (ICE) drives the generator only, with
    no mechanical connection to the drive. An electric motor drives the
    rear wheels.
  </td>
</tr>
<tr>
  <th>Drive wheel</th>
  <td>Rear wheel drive</td>
</tr>
<tr>
  <th>Number of gears and type of gearbox</th>
  <td>1 gears, automatic transmission</td>
</tr>
<tr>
  <th>Front suspension</th>
  <td>Double wishbone</td>
</tr>
<tr>
  <th>Rear suspension</th>
  <td>Independent multi-link suspension</td>
</tr>
<tr>
  <th>Front brakes</th>
  <td>Ventilated discs</td>
</tr>
<tr>
  <th>Rear brakes</th>
  <td>Ventilated discs</td>
</tr>
<tr>
  <th>Assisting systems</th>
  <td>ABS (Anti-lock braking system)<br /></td>
</tr>
<tr>
  <th>Steering type</th>
  <td>Steering rack and pinion</td>
</tr>
<tr>
  <th>Power steering</th>
  <td>Electric Steering</td>
</tr>
<tr>
  <th>Tires size</th>
  <td>255/50 R19; 255/45 R20</td>
</tr>
<tr>
  <th>Wheel rims size</th>
  <td>19; 20</td>
</tr>