<tr class="no">
  <th colspan="2" class="no">
    <strong class="car" id="_electric"
      >Electric cars and hybrids specs</strong
    >
  </th>
</tr>
<tr>
  <th>Gross battery capacity</th>
  <td>40 kWh</td>
</tr>
<tr>
  <th>Battery technology</th>
  <td>Lithium-ion (Li-Ion)</td>
</tr>
<tr>
  <th>Battery location</th>
  <td>Below the floor</td>
</tr>
<tr>
  <th>All-electric range (WLTC)</th>
  <td>
    160-200 km
    <span class="val2">99.42 - 124.27 mi</span>
  </td>
</tr>
<tr class="e">
  <th class="e">Charging ports</th>
  <th>Location</th>
</tr>
<tr class="e">
  <th>GB/T 20234.2 AC</th>
  <td>Rear left</td>
</tr>
<tr class="e">
  <th>GB/T 20234.3 DC</th>
  <td>Rear left</td>
</tr>
<tr class="e">
  <th colspan="2" class="e">Electric motor 1</th>
</tr>
<tr class="e">
  <th>Electric motor power</th>
  <td>272 Hp</td>
</tr>
<tr class="e">
  <th>Electric motor Torque</th>
  <td>
    360 Nm
    <span class="val2">265.52 lb.-ft.</span>
  </td>
</tr>
<tr class="e">
  <th>Electric motor location</th>
  <td>Rear axle, Transverse</td>
</tr>
<tr>
  <th>System power</th>
  <td>272 Hp</td>
</tr>
<tr>
  <th>System torque</th>
  <td>
    360 Nm
    <span class="val2">265.52 lb.-ft.</span>
  </td>
</tr>