<tr class="no">
  <th colspan="2" class="no2">
    <div class="adin top" style="height: 0px"></div>
  </th>
</tr>
<tr class="no">
  <th colspan="2" class="no">
    <strong class="car" id="_volume">Space, Volume and weights</strong>
  </th>
</tr>
<tr>
  <th>Kerb Weight</th>
  <td>
    2220 kg
    <span class="val2">4894.26 lbs.</span>
  </td>
</tr>
<tr>
  <th>Trunk (boot) space - minimum</th>
  <td>
    369 l
    <span class="val2">13.03 cu. ft.</span>
  </td>
</tr>
<tr>
  <th>Trunk (boot) space - maximum</th>
  <td>
    776 l
    <span class="val2">27.4 cu. ft.</span>
  </td>
</tr>
<tr>
  <th>Fuel tank capacity</th>
  <td>
    56 l
    <span class="val2">14.79 US gal | 12.32 UK gal</span>
  </td>
</tr>