<div class="pagetitle mb-2">
    <div class="row align-items-center">
      <div class="col-md-8 mt-2">
        <h1 class="fs-4 mb-1">Edit Brand Form</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin/cars-brands">Brand List</a></li>
            <li class="breadcrumb-item active">Edit Brand Form</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  
  <section class="section">
    <form
      class="row g-3"
      id="brand-form"
      action="/admin/edit-brands/<%= data.id %>"
      method="post"
      enctype="multipart/form-data"
    >
      <%- include('partials/form') %>
      <div class="col-md-4 mb-2">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/admin/cars-brands" class="btn btn-secondary">Cancel</a>
      </div>
    </form>
  </section>