<section class="section">
  <form
    class="row g-3"
    id="posts-form"
    action="/admin/blog/edit-posts/<%= data.id %>"
    method="post"
    enctype="multipart/form-data"
  >
    <div class="pagetitle mb-3">
      <div class="row align-items-center">
        <div class="col-md-8 mt-2">
          <h1 class="fs-4 mb-1">Posts Edit Form</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin">Home</a></li>
              <li class="breadcrumb-item active">Posts Edit Form</li>
            </ol>
          </nav>
        </div>
        <div class="col-md-4 d-flex justify-content-end mb-2">
          <button
            type="submit"
            title="Save"
            class="btn btn-primary"
            form="posts-form"
          >
            Save
          </button>
          <a href="/admin/blog/posts" class="ms-2 btn btn-secondary">Cancel</a>
        </div>
      </div>
    </div>
    <%- include('partials/form') %>
  </form>
</section>
